@model IEnumerable<Cafemed.Models.Model.Kategoriler>
@{
    ViewBag.Title = "Admin Anasayfa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Admin Panel Hosgeldiniz!</h3>
        <!--overview start-->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box blue-bg">
                    <i class="fa fa-cloud-download"></i>
                    <div class="count">@ViewBag.BlogSay</div>
                    <div class="title">Blog Yazıları</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box brown-bg">
                    <i class="fa fa-shopping-cart"></i>
                    <div class="count">@ViewBag.KategoriSay</div>
                    <div class="title">KategoriSayısı</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box dark-bg">
                    <i class="fa fa-thumbs-o-up"></i>
                    <div class="count">@ViewBag.GaleriSay</div>
                    <div class="title">Fotoğraf Sayısı</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box green-bg">
                    <i class="fa fa-cubes"></i>
                    <div class="count">@ViewBag.YorumSay</div>
                    <div class="title">Yorum Sayısı</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->

        </div>
        <!--/.row-->











    


