
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Galeriye fotoğraf ekle</h4>

<div class="form">
    <form class="form-validate form-horizontal" id="feedback_form" method="post" action="/Galeri/Create/" enctype="multipart/form-data">
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Başlık <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" id="Baslik" name="Baslik" minlength="5" type="text" required />
            </div>
        </div>
        <div class="form-group ">
            <label for="curl" class="control-label col-lg-2">Açıklama</label>
            <div class="col-lg-10">
                <textarea class="ckeditor" name="Aciklama" required></textarea>
            </div>
        </div>
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Fotoğraf<span class="required">*</span></label>
            <div class="col-lg-10">
                <input type="file" class="form-control" required id="ResimURL" name="ResimURL" accept=".jpg,.jpeg,.png" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-primary" type="submit" id="btn1">Kaydet</button>
                <button class="btn btn-default" type="button"><a href="/Galeri/Index/">İptal</a></button>
            </div>
        </div>
    </form>
</div>